:root {
  /*----  Variables fuentes -----*/
  --font-size: "20px";
  --font-size-titulo: 30px;
  --font-color-red: #ff0000;
  --font-color-titulo: #000000;
  --font-color-parrafo: rgb(0, 0, 0, 0.6);

  --font-titulo-style: italic;

  /* ----- Variables de colores ---- */
  --color-main: #db1a1a;
  /* ----- Redes Sociales ---- */
  --facebook: #3b5999;
  --instagram: #e4405f;
  --whatsapp: #00E676;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  font-size: var(--font-size);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;

}

body {
  padding: 0;
  margin: 0;
}
.contenedor::-webkit-scrollbar {
  width: 7px;
}
.contenedor::-webkit-scrollbar-thumb {
  background-color: #ce2d2d;
}
img {
  max-width: 100%;
}
.background-editado {
  background-position: center;
  background-size: cover;
  height: 330px;
}
.navbar {
  background-color: white;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  z-index: 100;
  position: sticky;
  top: 0;
}

.navbar-contenedor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  width: 60px;
  transition: 0.5s all;
}

.navbar-menu__items {
  text-decoration: none;
  color: var(--font-color-titulo);
  font-style: var(--font-titulo-style);
  margin: 0 15px 0 15px;
}

.navbar-menu__items:hover {
  border-bottom: 1px solid var(--font-color-red);
  line-height: 2;
  color: var(--font-color-red);
}

.portada {
  width: 100%;
  height: 500px;
  background-image: url(../imagenes/portada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.portada-socialbar {
  width: 10%;
  height: 0px;
  border-bottom: 30px solid var(--color-main);
  border-left: 20px solid transparent;
  float: right;
}

.portada{
  
     width: 100%;
     height: 500px;
     background-image: url(../imagenes/portada.jpg);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;     
}

.portada-socialbar{
 
    width:10%;
    height: 0px;
    border-bottom: 30px solid var(--color-main);
    border-left: 20px solid transparent;
   
    float:right;
}

.portada-socialbar__icons{

  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.portada-socialbar__item {
  color: white;
  padding: 0px 10px 0px 10px;
}

.portada-contenido{

   width: 90%;
   height: 80%; 
   margin:auto; 
   display: flex;   
   align-items: center;
   justify-content: space-between;
  
  

}

.portada-contenido__texto {
  width: 40%;
}

.portada-contenido__texto-titulo {
  color: var(--font-color-red);
  font-style: var(--font-titulo-style);
}

.portada-contenido__texto-parrafo {
  color: var(--font-color-parrafo);
  font-size: 20px;
}

.portada-contenido__imagen {
  width: 50%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portada-contenido__imagen::after {
  content: "Estampados personalizados";
  margin-top: -30px;
  color: white;
  font-style: var(--font-titulo-style);
}

.portada-contenido__imagen-img {
  width: 60%;
  height: 60%;
  min-width: 200px;
}

.portada-contenido__imagen-text{

   width: 40%;  
   min-width: 200px;
   height: 0px;
   border-bottom: 20px solid var(--color-main);
   border-top: 20px solid var(--color-main);
   border-left: 20px solid transparent; 
   border-right: 20px solid transparent;
   margin-top: -10%;
 

}

.portada-borde{

  margin-top: 60px;

}



/* Galeria */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.m-40px{
  margin-top: 40px;
  margin-bottom: 40px;
}
main {

  box-shadow: #000;
  padding-bottom: 20px;
}
.galeria {
  padding: 20px 0 40px 0;
}
.galeria .portada-contenido__texto-titulo {
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin: 0;
}
.imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 95%;
  margin: 0 auto;
}

.imagenes__galeria {
  border: 2px solid #000;
  transition: all .2s ease-in-out;  
}
.imagenes__galeria:hover {
  box-shadow: 0 0 50px #666;
  transform: scale(1.01);
  cursor: pointer; 

}
.image-1{
  background-image: url(../imagenes/galeria/camisa2.jpg);
}
.image-2{
  background-image: url(../imagenes/galeria/camisa3.jpg);
}
.image-3{
  background-image: url(../imagenes/galeria/camisa4.jpg);
}
.image-4{
  background-image: url(../imagenes/galeria/camisa5.jpg);
  grid-column: 2 / 4;
  grid-row: 1 /2;
}
.image-5{
  background-image: url(../imagenes/galeria/camisa6.jpg);
}
.image-6{
  background-image: url(../imagenes/galeria/camisa7.jpg);
}
.image-7{
  background-image: url(../imagenes/galeria/camisa8.jpg);
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}
.image-8{
  background-image: url(../imagenes/galeria/camisa9.jpg);
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.image-9{
  background-image: url(../imagenes/galeria/camisa10.jpg);
}
.image-10{
  background-image: url(../imagenes/galeria/camisa11.jpg);
}
.image-11{
  background-image: url(../imagenes/galeria/camisa12.jpg);
}
.image-12{
  background-image: url(../imagenes/galeria/camisa13.jpg);
}
.image-13{
  background-image: url(../imagenes/galeria/camisa14.jpg);
}


  .about{

    width: 100%;
    height: 750px;
    background-image: url(../imagenes/fondo-sobre-mi.png);
    background-size: cover;
    margin-top: 20px;



  }

  .content-about{

    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   

  }

  .about-elements{
    
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    align-items: center;

  }


  .about-text{

   width: 50%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   
  }

  .about-parrafo{

   text-align: center;
   color: var(--font-color-parrafo);
   font-size: 20px;

  }

  .about-img{

    width: 40%;
    height: 30%;
    border-radius: 20px;
    margin-left: -100px;

  }

  .about-titulo{
   
    width: 300px;
    height: 0;
    border-bottom: 20px solid var(--color-main);
    border-top: 20px solid var(--color-main) ;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    
  }
  
  .about-titulo::after{

   content: "Sobre nosotros";
   color: white;
   font-size: 25px;

  }


  /* .servicios{

    

  } */

  .servicios-titulo{

   width: 100%;
   height: 120px;
   background-color: wheat;
   background-image:linear-gradient(rgb(239,61,61,.6), rgb(239,61,61,.6)) ,url(../imagenes/servicios.jpg);
   background-size: cover;
   background-attachment: fixed;

   display: flex;
   align-items: center;
   justify-content: center;

  }

  .servicios-titulo__h3{

   color: white;
   font-size: var(--font-size-titulo);

  }

  .servicios-contenedor{
   
    width: 80%;
    margin: auto;
    margin-top: 100px;
   

  }

.servicios-estampados{
   
  display: flex;
  justify-content: space-between;
  align-items: center;


  }

.servicios-estampados-tipos{

width: 40%;

}
    
.servicios-estampados__titulos{

  font-style: var(--font-titulo-style);

}

.servicios-estampados__parrafo{

  color: var(--font-color-parrafo);

}

.servicios-estampados__imagenes{

  width: 40%; 
  height: 200px;
  object-fit: cover;
  border-radius: 40px;
  margin: 50px;
  box-shadow: 1px 1px 10px rgb(0,0,0,.2);

}
  



.footer-index{

  margin-top: 100px;
  width: 100%;
  height: 250px;
  background-color: #222222;
 
}

.footer-index__content{

 width: 80%;
 margin: auto;
 display: flex;

   
}
.footer-index__info{

  margin-right: 20%;
  margin-top: 20px;

}

.footer-index__titulo{

  font-size: calc(var(--font-size-titulo) - 5px);
  color: white;
  font-style: var(--font-titulo-style)
}

.footer-index__item{
 
  display: block;
  color: white;
  text-decoration: none;
  line-height: 2;
 
}

.footer-social__icon{
  
  color: white;
  font-size: 25px;
  margin-right:20px ;

}



.up-fixed{

  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255,255,255,.5);
  border-radius: 20px;

}

.up-icon{

   color: black;
   font-size: 20px;

}



/* Footer */
.pie {
  background-color: #222222;
}
.pie-pagina {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  color: #fff;
}
.pie-pagina__titulo {
  font-weight: 900;
  margin: 20px 0 40px 0;
}
/* Contactos */
.info {
  font-weight: 700;
  margin: 0 0 20px 0;
}
.info p {
  margin: 0 0 20px 0;
}
.info p:last-of-type {
  margin-bottom: 0;
}
.info span {
  font-weight: normal;
}



.redes-sociales ul {
  margin: 0;
  padding: 0;
}
.redes-sociales ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}
.redes-sociales ul li a {
  display: block;
  padding: 0 10px;
  background-color: #333;
  color: #fff;
  line-height:50px;
  font-size: 25px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .2);
  transition: .2s;
}
.redes-sociales ul:hover a {
  filter: blur(2px);
}
.redes-sociales ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
  filter: none;
}
.redes-sociales ul li .facebook:hover {
  background: var(--facebook);
}
.redes-sociales ul li .instagram:hover {
  background-color: var(--instagram);
}
.redes-sociales ul li .whatsapp:hover {
  background-color: var(--whatsapp);
}

